/* .App {
  text-align: center;
}
*/

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: black;
  padding: 10px;
}

li {
  list-style-type: none;
}

li:hover {
color: #f87060;
}