@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  margin: 0;
  padding: 0;
}

header {
  height: 100px;
  width: 100vw;
  background-color: #f87060;
}

.profile {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
}

.box-1 {
  display: flex;
  flex-direction: column;
  border-bottom: solid #ced6d6;
}


body {
  background-color: white;
  font-family: 'Inconsolata', monospace;
}

main {
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 50px;
}

button {
    width: 82px;
    height: 28px;
    border-radius: 14px;
    background-color: #f87060;
    color: white;
    font-size: 18px;
    border: none;
    font-family: 'Inconsolata', monospace;
  }

.flex-around {
  display: flex;
  justify-content: space-evenly;
}


.restaurant-list {
  background-color: white;
  width: 60%;
  height: 100vh;
  border: solid black;
  margin: 10px;
}

.filter {
  background-color: white;
  width: 40%;
  height: 100vh;
  border: solid black;
  margin: 10px;
}

h2 {
  margin: 10px;
  font-family: 'Inconsolata', monospace;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: 'Inconsolata', monospace;
}
