@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  width: 100%;
  background-color: #f87060;
}

.profile {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
}

.box-1 {
  display: flex;
  flex-direction: column;
  border-bottom: solid #ced6d6;
}

body {
  background-color: white;
  font-family: "Inconsolata", monospace;
}

main {
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin: 10px 100px 0px 20px;
}

.flex-menu-buttons {
  display: flex;
  justify-content: space-evenly;
}

.quick-add-button {
  width: 82px;
  height: 28px;
  border-radius: 14px;
  background-color: #f87060;
  color: white;
  font-size: 18px;
  border: none;
  font-family: "Inconsolata", monospace;
  margin: 0 0 0 10px;
  outline: none;
  opacity: 0.5;
}

.quick-add-button:hover {
  opacity: 1;
}

.menu-item-button {
  width: 32px;
  height: 36px;
  background-color: white;
  color: #f87060;
  font-size: 35px;
  border: none;
  font-family: "Inconsolata", monospace;
  border-radius: 10px;
}

.menu-item-button:hover {
  outline: none;
  background-color: #f87060;
  color: white;
}

.flex-around {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 10px;
  font-family: "Inconsolata", monospace;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.menu-image {
  width: 100px;
  margin: 20px 0 0 0;
}

.star-rating-image {
  width: 160px;
  height: 28px;
}

.menu-item-spacing {
  line-height: 1.8;
}
