  @import url("https://fonts.googleapis.com/css?family=Inconsolata");

.menu-body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Inconsolata", monospace;
}

.menu-banner {
  height: 100px;
  width: 100vw;
  background-color: #f87060;
  color:white;
}

.menu-header {
  height: 70px;
  width: 100%;
  background-color: #f87060;
}

.menu-profile {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: -10px;
}

.back-button {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
}

.menu-box-1 {
  display: flex;
  flex-direction: column;
  border-bottom: solid #ced6d6;
}

.menu-main {
  display: flex;
}

.menu-flex {
  display: flex;
  justify-content: space-evenly;
}

.menu-flex-column {
  margin: 10px 100px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  margin-left: 250px;
}

.menu-flex-menu-buttons {
  display: flex;
  justify-content: space-evenly;
}

.menu-quick-add-button {
  width: 82px;
  height: 28px;
  border-radius: 14px;
  background-color: #f87060;
  color: white;
  font-size: 18px;
  border: none;
  font-family: "Inconsolata", monospace;
  margin: 0 0 0 10px;
  outline: none;
  opacity: 0.5;
}

.menu-quick-add-button:hover {
  opacity: 1;
}

.menu-item-button {
  width: 32px;
  height: 36px;
  background-color: white;
  color: #f87060;
  font-size: 34px;
  border: none;
  font-family: "Inconsolata", monospace;
  border-radius: 10px;
}

.menu-item-button:hover {
  outline: none;
  background-color: #f87060;
  color: white;
}

.menu-flex-around {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.menu-flex-around-rating {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 10px;
  font-family: "Inconsolata", monospace;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

.menu-image {
  width: 100px;
  margin: 25px 0 0 0;
}

.menu-star-rating-image {
  width: 150px;
  height: 26px;
  margin-top: -20px;
}

.menu-item-spacing {
  line-height: 2.5;
  display: flex;
}


