@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/* this is DUMB */

.home-logo {
    width: 180px;
    height: 100px;
    margin: 10px;
}

.header {
	background-color: #f87060;
}

i {
    margin: 50px 30px 0px 0px;
    text-shadow: black 1px 1px 1px;
}

i:hover {
    text-shadow: white 1px 1px 1px;
}

.cart-icon-flex {
    display: flex;
    justify-content: space-between;
}