.login {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.login input {
    border: none;
    padding: 10px;
    margin: 2px;
    width: 150px;
}

input:focus {
    outline: 0;
}

.header {
    background-color: black;
}
