.list-body {
  font-family: "Inconsolata", monospace;
}

.list-main {
  display: flex;
}

.list-flex {
  display: flex;
  justify-content: center;
  height: 65px;
}

.list-flex-around button {
  padding: 10px;
  background-color: #f87060;
  opacity: 0.5;
  color: white;
  border-radius: 10px;
  outline: none;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
}

.list-flex-around button:focus {
  padding: 10px;
  background-color: #f87060;
  opacity: 1;
  color: white;
  border-radius: 10px;
  outline: none;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
}

.list-flex-around {
  display: flex;
  justify-content: space-evenly;
}

.list-restaurant-list {
  background-color: white;
  width: 60%;
  height: 100vh;
  border: solid;
  border-color: #cdd7d6;
  margin: 10px;
}

.list-filter {
  background-color: white;
  width: 30%;
  height: 75vh;
  border: solid;
  border-color: #cdd7d6;
  margin: 10px;
  position: fixed;
  right: 0px;
  margin-right: 90px;
}

.list-filter h1 {
  text-align: center;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

.list-flex button {
  background-color: white;
  border: none;
  font-size: 14px;
}

.list-flex button:focus {
  background-color: #f87060;
  border-radius: 10px;
  outline: none;
  height: 40px;
}

.list-search-restaurants input {
  display: flex;
  justify-content: center;
}